streamlit==1.31.1
pandas==2.1.1
numpy_financial==1.0.0
pip~=20.2.3
Brotli~=1.0.9
py~=1.10.0
lxml~=4.6.3
certifi~=2021.5.30
urllib3~=1.26.6
six~=1.16.0
idna~=3.2
setuptools~=49.2.1
future~=0.18.2
attrs~=25.4.0
pytest~=6.2.4
packaging~=21.0
zipp~=3.23.0
pygments~=2.19.2
pyodbc~=4.0.32
dash~=1.21.0
plotly~=5.1.0
matplotlib~=3.4.2
numpy~=1.26.4
fpdf~=1.7.2
requests~=2.32.5
selenium~=3.141.0
inline~=0.0.1
yfinance~=0.1.63
openpyxl~=3.0.7
mysql~=0.0.3
mysql-connector-python~=8.0.26
scipy~=1.7.2
docx~=0.2.4